Repository boostcampaitech4lv23recsys2/final-project-level3-recsys-12, pull requests merged in 2023-01, with the labels that each got.

#31 Fix: change secrets path & fix typo
  backend/main.py
  database/README.md
  database/db_manager.py
Labels: :hammer: fix

#30 Feat : add code with POST
  backend/main.py
  backend/service/item.py
  backend/service/user.py
  frontend/src/App.svelte
  frontend/src/Detail.svelte
  frontend/src/Header.svelte
  frontend/src/Login.svelte
  frontend/src/SignUp.svelte
Labels: :tv: front-end, :gear: back-end

#33 Fix: change variable name & set map_location to model loading
  backend/inference/predict.py
  backend/main.py
Labels: :bug: bug, :hammer: fix

#34 Feat: add vite template frontend
  .gitignore
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.png
  frontend/public/global.css
  frontend/public/index.html
  frontend/public/vite.svg
  frontend/rollup.config.js
  frontend/scripts/setupTypeScript.js
  frontend/src/App.svelte
  frontend/src/Header.svelte
  frontend/src/Home.svelte
  frontend/src/HomeElement/Like.svelte
  frontend/src/Login.svelte
  frontend/src/SignUp.svelte
  frontend/src/app.css
  frontend/src/assets/svelte.svg
  frontend/src/vite-env.d.ts
  frontend/vite.config.js
Labels: :tv: front-end

#35 Feat: add inference result save in db
  backend/db/models.py
  backend/main.py
  backend/service/item.py
  backend/service/user.py
  frontend/src/Detail.svelte
Labels: :gear: back-end

#36 Feat: add env setting
  backend/main.py
  frontend/.env.production
  frontend/src/Detail.svelte
  frontend/src/Home.svelte
  frontend/src/Login.svelte
  frontend/src/SignUp.svelte
Labels: :tv: front-end

#39 HOTFIX: fix bug
  frontend/src/Mypage.svelte
  frontend/src/SignUp.svelte
Labels: :bug: bug, :hammer: fix

#41 Docs : change poetry file
  backend/poetry.lock
  backend/pyproject.toml
Labels: :book: docs, :gear: back-end

#42 Docs: add comments for develop
  backend/main.py
  database/sql/create_table.sql
  database/sql/delete_table.sql
Labels: :book: docs

#44 Feat/rec button
  backend/main.py
  backend/service/item.py
  frontend/src/Header.svelte
  frontend/src/Home.svelte
  frontend/src/SignUp.svelte
Labels: :tv: front-end, :gear: back-end, :santa: new feature

#45 Feat/addetc
  frontend/src/Header.svelte
  frontend/src/Home.svelte
  frontend/src/Login.svelte
  frontend/src/SignUp.svelte
Labels: :tv: front-end

#48 Feat : without duplicated card image in Signup
  backend/main.py
  backend/service/item.py
  frontend/src/Home.svelte
Labels: :gear: back-end

#49 Feat/crawling
  crawling/README.md
  crawling/args.py
  crawling/crawling_modules.py
  crawling/error_find.ipynb
  crawling/main.py
  crawling/requirements.txt
Labels: :chart_with_upwards_trend: data

#50 Feat: check data type at sql query
  backend/service/item.py
Labels: :gear: back-end, :chart_with_upwards_trend: data, :muscle: enhancement

#52 Feat: add cluster_item table at db
  backend/db/models.py
  database/sql/create_table.sql
  database/sql/delete_table.sql
Labels: :gear: back-end, :chart_with_upwards_trend: data

#51 Feat/mainlayout
  backend/data/preprocess.ipynb
  frontend/src/Detail.svelte
  frontend/src/Footer.svelte
  frontend/src/GoTop.svelte
  frontend/src/Header.svelte
  frontend/src/Home.svelte
  frontend/src/HomeElement/Like.svelte
  frontend/src/Login.svelte
  frontend/src/Mypage.svelte
  frontend/src/SignUp.svelte
Labels: :tv: front-end, :chart_with_upwards_trend: data

#53 Fix: gitignore .env.production at frontend
  .gitignore
  frontend/.env.production
Labels: :hammer: fix

#57 Feat: add card Table at DB
  backend/db/models.py
  database/sql/create_table.sql
  database/sql/delete_table.sql
Labels: :gear: back-end, :chart_with_upwards_trend: data

#56 유사도 구하는 파일과 item의 title 전처리 파일
  .gitignore
  EDA/EDA_KJH_ver1.ipynb
  EDA/EDA_KJH_ver2.ipynb
  EDA/EDA_KJH_ver3.ipynb
  EDA/EDA_KJH_ver4.ipynb
  EDA/category_preprocess.py
  EDA/get_cluster.py
  EDA/get_similarity.py
  EDA/merge_cluster_train.py
  EDA/utils_category.py
  EDA/utils_cluster.py
Labels: :chart_with_upwards_trend: data, :santa: new feature

#60 Feat/datapreprocess
  .gitignore
  backend/data/preprocess.ipynb
  crawling/preprocess.py
  crawling/preprocess_utils/card.py
  crawling/preprocess_utils/cluster_item.py
  crawling/preprocess_utils/house.py
  crawling/preprocess_utils/item.py
Labels: :chart_with_upwards_trend: data

#59 Fix: Fix some errors
  EDA/EDA_KJH_ver1.ipynb
  EDA/EDA_KJH_ver1.py
  EDA/EDA_KJH_ver3.ipynb
  EDA/EDA_KJH_ver3.py
  EDA/EDA_KJH_ver4.ipynb
  EDA/EDA_KJH_ver4.py
Labels: :book: docs, :chart_with_upwards_trend: data

#61 Crawling code 이후에 end-to-end로 전처리된 결과 얻을 수 있도록 했습니다.
  crawling/preprocess.py
  crawling/preprocess_utils/args.py
  crawling/preprocess_utils/cluster_item.py
  crawling/preprocess_utils/item.py
  crawling/preprocess_utils/utils_category.py
  crawling/preprocess_utils/utils_cluster.py
  crawling/preprocess_utils/utils_similarity.py
  crawling/requirements.txt
Labels: :chart_with_upwards_trend: data, :muscle: enhancement, :factory: refactor
