Repository boostcampaitech4lv23recsys2/final-project-level3-recsys-12, pull requests merged in 2023-02, with the labels that each got.

#62 Feat: add Dockerfile
  .gitignore
  Dockerfile
  backend/settings.sh
Labels: :bowl_with_spoon: serving

#64 Feat: add recommend in detail page
  backend/main.py
  backend/service/item.py
  frontend/src/Detail.svelte
  frontend/src/Home.svelte
  frontend/src/Mypage.svelte
  frontend/src/RecommendItem.svelte
Labels: :tv: front-end, :gear: back-end, :santa: new feature

#63 HOTFIX: Fix recommendation problem
  backend/main.py
Labels: :gear: back-end, :hammer: fix

#65 Feat/signup change table
  backend/db/models.py
  backend/inference/predict_signup.py
  backend/main.py
  backend/service/item.py
  backend/service/user.py
Labels: :gear: back-end

#67 Hotfix: fix models.py
  backend/db/models.py
Labels: :bug: bug, :hammer: fix

#69 Feat/signuppage
  backend/main.py
  backend/service/user.py
  frontend/src/Home.svelte
  frontend/src/SignUp.svelte
  frontend/src/SignUpElement/ImageBlock.svelte
Labels: :tv: front-end, :gear: back-end

#70 Feat/gcp model storage
  backend/inference/model.yaml
  gcp/create_bucket.py
  gcp/gcp_args.py
  gcp/main.py
  gcp/utils.py
Labels: :chart_with_upwards_trend: data, :bowl_with_spoon: serving, :santa: new feature

#71 Feat/gcp model storage
  gcp/README.md
  gcp/gcp_args.py
  gcp/main.py
Labels: :bug: bug, :book: docs, :hammer: fix

#73 Feat: add preprocessed_title column
  backend/db/models.py
  database/sql/create_table.sql
Labels: :gear: back-end, :chart_with_upwards_trend: data

#74 파일 경로 관련 문제 해결
  .gitignore
  backend/inference/model.yaml
  backend/main.py
  model/AE_model/args.py
  model/AE_model/backend_inference.py
  model/AE_model/dataloader.py
  model/AE_model/inference.py
  model/AE_model/train.py
  model/AE_model/utils.py
  model/README.md
Labels: :book: docs, :hammer: fix, :bowl_with_spoon: serving, :factory: refactor

#75 Feat/signuppage
  backend/inference/predict.py
  frontend/src/SignUp.svelte
Labels: :tv: front-end, :gear: back-end, :hammer: fix

#77 preprocess 코드 오류 수정 및 일종의 refactor
  crawling/preprocess.py
  crawling/preprocess_utils/cluster_item.py
  crawling/preprocess_utils/item.py
  crawling/preprocess_utils/utils_similarity.py
Labels: :bug: bug, :hammer: fix, :factory: refactor

#78 GCP README.md에서 typo가 존재해서 수정
  gcp/README.md
Labels: :book: docs

#79 Fix: Change gcp region
  gcp/gcp_args.py
Labels: :hammer: fix

#80 Feat : ABtest
  backend/db/models.py
  backend/main.py
  backend/service/user.py
Labels: :bowl_with_spoon: serving, :test_tube: test

#81 Feat/final fix
  backend/inference/predict_signup.py
  backend/main.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/service/item.py
  frontend/src/SignUp.svelte
Labels: :gear: back-end, :santa: new feature

#82 Fix: fix like button clicked
  frontend/src/Home.svelte
  frontend/src/HomeElement/Like.svelte
  frontend/src/Loading.svelte
  frontend/src/SignUp.svelte
Labels: :bug: bug, :tv: front-end

#87 Feat: Add popularity based model
  EDA/popularity_based_rec.ipynb
Labels: :chart_with_upwards_trend: data

#89 Fix: main page description
  frontend/src/Home.svelte
Labels: :hammer: fix

#92 Fix/mainpage
  frontend/src/Home.svelte
Labels: :tv: front-end, :hammer: fix

#93 Fix/mainpage
  frontend/src/Home.svelte
Labels: :tv: front-end, :hammer: fix, :test_tube: test

#94 Fix: Fix inference code
  backend/inference/predict.py
  backend/main.py
Labels: :bug: bug, :hammer: fix

#95 Fix/inference
  backend/inference/predict.py
  backend/main.py
Labels: :gear: back-end, :package: model, :hammer: fix

#96 Fix/inference
  backend/inference/predict.py
  backend/main.py
Labels: :gear: back-end, :package: model, :hammer: fix, :test_tube: test

#98 Feat/fixtext
  frontend/src/Detail.svelte
  frontend/src/Home.svelte
Labels: :tv: front-end, :hammer: fix

#99 Feat/fixtext
  frontend/src/Detail.svelte
  frontend/src/Home.svelte
Labels: :tv: front-end, :hammer: fix

#100 Docs: update README.md draft
  README.md
Labels: :book: docs

#103 Docs: update README.md
  README.md
Labels: :book: docs

#101 Create README.md
  backend/README.md
Labels: :book: docs

#105 Feat/insertsignup
  backend/db/models.py
  backend/main.py
  backend/service/user.py
  database/sql/create_table.sql
  frontend/index.html
  frontend/public/logo.png
  frontend/src/Home.svelte
  frontend/src/Loading.svelte
  frontend/src/SignUp.svelte
Labels: :tv: front-end, :gear: back-end

#111 Feat: Add popularity based model
  model/popularity_model/popularity_based_rec.ipynb
  model/popularity_model/popularity_based_rec.py
Labels: :package: model

#112 클러스터링을 DL과 ML을 활용해서 검증했습니다.
  EDA/cluster_evaluate.ipynb
  EDA/cluster_evaluate.py
Labels: :package: model

#113 다양성 지표 추가 및 분석 결과 EDA
  EDA/popularity_check.ipynb
  EDA/popularity_check.py
  model/AE_model/dataloader.py
  model/AE_model/train.py
  model/AE_model/utils.py
Labels: :package: model, :chart_with_upwards_trend: data, :muscle: enhancement, :santa: new feature
